body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: "Oswald", sans-serif;
    background-color: rgb(25, 25, 25);
}
header {
    font-size: 30px;
    display: block;
    justify-content: center;
    color: rgb(230, 230, 230);
}
nav {
    color: rgb(252, 252, 252);
}
nav a{
    text-decoration: none;
    color: rgb(19, 19, 19);
}
ul li {
    margin: 0 20px;
    list-style-type: none;
    display: inline-block;
}
ul li:hover a{
    color: rgb(161, 161, 161);
    background-color: rgb(29, 29, 29);
}
ul button {
    display: inline;
    font-family: "Oswald", sans-serif;
    font-size: 17px;
}
.opcoes ul {
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}
.opcoes {
    margin-top: 0%;
    margin-bottom: 0;
    padding-bottom: 0;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu li {
    padding-right: 30px;
    padding-left: 30px;
}
.menu{
    background-color: rgb(214, 214, 214);
    justify-content: space-between;
    justify-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 0;
}
.opcoes button {
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: rgb(44, 44, 44);
    color: whitesmoke;
    border: 5px;
    border-color: rgb(0, 0, 0);
    outline: 2px solid rgb(223, 223, 223);
}
.opcoes button:hover {
    background-color: rgb(242, 242, 242);
    color: rgb(44, 44, 44);
}
#botao1 {
    border-radius: 12px;
}
#botao2 {
    padding-left: 33.5%;
    padding-right: 33.5%;
}
#botao2en {
    padding-left: 36.5%;
    padding-right: 36.5%;
}
#botao2es {
    padding-left: 34.5%;
    padding-right: 34.5%;
}
#botao2fr {
    padding-left: 32%;
    padding-right: 32%;
}
#botao3 {
    border-radius: 8px;
}
#destaque {
    color: rgb(4, 0, 216);
}
#destaque:hover {
    color: rgb(234, 255, 0);
}
main{
    justify-self: center;
}
.titulo {
    justify-content: left;
    font-family: "Russo One", sans-serif;
    font-size: 60px;
    color: rgb(238, 238, 238);
}
#conteudo img {
    width: 200px;
    outline: 2px solid rgb(210, 210, 210);
}
#conteudo {
    background-color:rgb(21, 21, 21) ;
    outline: 2px solid rgb(245, 245, 245);
    width: 800px;
    padding: 10px;
    font-size: larger;
    justify-items: center;
    text-align: justify;
    text-justify: inter-word;
    color: rgb(223, 223, 222);
}
#conteudo a {
    text-decoration: none;
    color: rgb(40, 111, 255);
}
.sub b {
    font-size: 35px;
    margin: 0;
}
section {
    display: flex;
    align-items: center; 
    padding: 5px 10px 5px 5px;
}
.EITA {
    padding-top: 20px;
}
.EITA p {
    margin: 0;
}
.EITA b {
    margin: 0;
}
section {
    display: flex;
    align-items: center; 
    padding: 5px 10px 5px 5px;
}
.img-esquerda {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    width: 150px;
}
.img-direita {
    display: block;
    float: right;
    margin: 0px 0px 10px 10px;
    width: 150px;
}
footer {
    font-size: larger;
    color: rgb(238, 238, 238);
}
footer a {
    text-decoration: none;
    color: rgb(255, 119, 119);
}
footer a:hover {
    text-decoration: none;
    color: rgb(111, 115, 255);
}
footer img {
    width: 30px;

}
.posrodape {
    font-size: larger;
    color: rgb(238, 238, 238);
}
